

#header{
    height: 70px;
    background: #F0F0F0;
    box-shadow: 0px 0px 10px gray;
}

.nav-link {
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.nav-link:hover{
    color: #6c757d;
}

#nav{
    padding: 20px 0px 0px 0px;
}

#nav ul li{
    list-style: none;
    min-width: 80px;
    width:20px;
}


